In [2]:
from pyModbusTCP.client import ModbusClient
import time
import numpy as np

In [4]:
# TCP auto connect on first modbus request
c = ModbusClient(host="192.168.1.3", port=502, auto_open=True)

In [114]:
def current_pressure():
    p = c.read_input_registers(5000, 1)[0]/32767*3000 # transform provided by MKS
    pressure = int(p)
    return pressure

In [115]:
current_pressure()

8

In [116]:
def open_valve(name):
    if name == "S1":
        c.write_single_register(5001,32768) 
    elif name == "S2":
        c.write_single_register(5002,32768) 
    elif name == "S3":
        c.write_single_register(5003,32768) 
        
def close_valve(name):
    if name == "S1":
        c.write_single_register(5001,0) 
    elif name == "S2":
        c.write_single_register(5002,0) 
    elif name == "S3":
        c.write_single_register(5003,0)

In [69]:
class solenoid:
    ''' opens and closes valve. Takes Modbus Holding register value as argument.
    
    Example:
    
    S1 = solenoid(5001)
    S1.open_valve()
    
    '''
    def __init__(self, reg_value):
        self.reg_value = reg_value
        
    def open_valve(self):
        c.write_single_register(self.reg_value,32768) # open
    def close_valve(self):
        c.write_single_register(self.reg_value,0)

In [73]:
S1 = solenoid(5001)
S2 = solenoid(5002)
S3 = solenoid(5003)
S1.close_valve()

In [32]:
import pandas as pd

import time
import os
# os.chdir("C:\\Users\\labuser")
df=pd.read_csv("../data/dataset-2.csv")
df.head()
power_of_file=df["power"]
time_of_file=df["time"]
pressure_of_file=df["pressure"]
gas_of_file=df["gas"]

In [34]:
df

   power   time    gas  pressure     ratio
0    396   9065  Argon        46  1.547278
1   1703  10481  Argon        96  2.405569
2    489  15493  Argon        46  1.007314
3   4962  15074  Argon        36  1.752954

In [33]:
import math
data2=pd.read_csv("../data/dataset-2.csv")
rto=data2["ratio"]
y_unique=[]
for m in rto:
    if m not in y_unique and m!=0 and  math.isnan(m)!=1:y_unique.append(m)

In [35]:
data2

   power   time    gas  pressure     ratio
0    396   9065  Argon        46  1.547278
1   1703  10481  Argon        96  2.405569
2    489  15493  Argon        46  1.007314
3   4962  15074  Argon        36  1.752954

In [41]:
df=pd.read_csv("../data/dataset-2.csv")
power_of_file=df["power"]
time_of_file=df["time"]
pressure_of_file=df["pressure"]
gas_of_file=df["gas"]
df.head()

   power   time    gas  pressure     ratio
0    396   9065  Argon        46  1.547278
1   1703  10481  Argon        96  2.405569
2    489  15493  Argon        46  1.007314
3   4962  15074  Argon        36  1.752954
4   4962  15074  Argon        36  1.752954

In [80]:
a = 'Argon'
b = 'Argon'

if a == b:
    print ("TRUE")

TRUE

In [81]:
df.loc[df.index[-1], "gas"]

'Argon'

In [84]:
data2.iloc[-1]['gas']

36

In [117]:
if read_pressure() < df.iloc[-1]['pressure']:
    open_valve("S1")

In [86]:
# Can we shorten this ?

if df.iloc[-1]['gas'] == 'Argon':
    valve_name = "S1"
    
    # Backfill chamber without other gas
    if df.iloc[-1]['gas'] != data2.iloc[-1]['gas']:
        open_valve("S3")
        open_valve(valve_name)
        time.sleep(300)
        close_valve("S3")
        
        
        if current_pressure() < df.iloc[-1]['pressure']:
            while current_pressure() < df.iloc[-1]['pressure']:
                open_valve(valve_name) # open
            else:
                close_valve(valve_name)
        else:
            while current_pressure() >= df.iloc[-1]['pressure']:
                open_valve("S3")
            else:
                close_valve("S3")
    else:
        if current_pressure() < df.iloc[-1]['pressure']:
            while current_pressure() < df.iloc[-1]['pressure']:
                open_valve(valve_name) # open
            else:
                close_valve(valve_name)
        else:
            while current_pressure() >= df.iloc[-1]['pressure']:
                open_valve("S3")
            else:
                close_valve("S3")
                
elif df.iloc[-1]['gas'] == 'Nitrogen':
    valve_name = "S2"
    
    # Backfill chamber without other gas
    if df.iloc[-1]['gas'] != data2.iloc[-1]['gas']:
        open_valve("S3")
        open_valve(valve_name)
        time.sleep(300)
        close_valve("S3")
        
        # Can we shorten this ?
        if current_pressure() < df.iloc[-1]['pressure']:
            while current_pressure() < df.iloc[-1]['pressure']:
                open_valve(valve_name) # open
            else:
                close_valve(valve_name)
        else:
            while current_pressure() >= df.iloc[-1]['pressure']:
                open_valve("S3")
            else:
                close_valve("S3")
    else:
        if current_pressure() < df.iloc[-1]['pressure']:
            while current_pressure() < df.iloc[-1]['pressure']:
                open_valve(valve_name) # open
            else:
                close_valve(valve_name)
        else:
            while current_pressure() >= df.iloc[-1]['pressure']:
                open_valve("S3")
            else:
                close_valve("S3")

## Misc.

In [4]:
SERVER_HOST = "192.168.1.3"
SERVER_PORT = 502

c = ModbusClient()

# uncomment this line to see debug message
#c.debug(True)

# define modbus server host, port
c.host(SERVER_HOST)
c.port(SERVER_PORT)

while True:
    # open or reconnect TCP to server
    if not c.is_open():
        if not c.open():
            print("unable to connect to "+SERVER_HOST+":"+str(SERVER_PORT))

    # if open() is ok, read coils (modbus function 0x01)
    if c.is_open():
        # read 10 bits at address 0, store result in regs list
        pressure = c.read_input_registers(5000, 1)[0] # 5000 is analog output 1, see MKS PAC 100 manual
        # if success display registers
        if pressure:
            print("Current Pressure: {:.2f} psi".format(pressure/32767*3000)) # 32767 given by MKS * 3000psi

    # sleep 2s before next polling
    time.sleep(0.5)

Current Pressure: 58.78 psi
Current Pressure: 59.33 psi
Current Pressure: 59.42 psi
Current Pressure: 59.33 psi
Current Pressure: 59.33 psi
Current Pressure: 59.05 psi
Current Pressure: 58.60 psi
Current Pressure: 58.60 psi
Current Pressure: 58.50 psi
Current Pressure: 58.60 psi
Current Pressure: 58.60 psi
Current Pressure: 58.78 psi

KeyboardInterrupt:

In [2]:
# TCP auto connect on first modbus request
c = ModbusClient(host="192.168.1.3", port=502, auto_open=True)

In [3]:
c = ModbusClient()
c.host("192.168.1.3")
c.port(502)
# managing TCP sessions with call to c.open()/c.close()
c.open()

True

In [ ]:
if c.open():
    thermocouple_type = c.read_holding_registers(11000, 1)
    mfg_info = c.read_holding_registers(60000, 27)
    dev_cfg = c.read_holding_registers(10000, 6)  
    c.close()